<table class="table table-striped">

  <thead class="table-light">
    <th>Sku</th>
    <th>Name</th>
    <th>Price</th>
    <th>Unit in Stock</th>
  </thead>

  <tbody>
    <tr *ngFor="let tempProd of products">
      <td>{{tempProd.sku}}</td>
    <td>{{tempProd.name}}</td>
    <td>{{tempProd.unitPrice | currency: '£'}}</td>
    <td>{{tempProd.unitsInStock}}</td>
    </tr>
  </tbody>
</table>
<!-- <p>product-list works!</p>
<div *ngFor="let tempProd of products">
  <p>{{tempProd.sku}}</p>
  <p>{{tempProd.name}}</p>
  <p>{{tempProd.unitPrice}}</p>
  <p>{{tempProd.unitsInStock}}</p>

</div> -->
