<!-- Main Header Banner  -->
<app-main-banner></app-main-banner>
<!-- Product Categories Buttons -->
<div class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div *ngFor="let product of products"  class="col mb-5">
      <div class="card h-100">
          <!-- Sale badge-->
          <!-- <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div> -->
          <!-- Product image-->
          <a routerLink="/products/details/{{product.id}}">
            <img class="card-img-top" src="{{product.imageUrl}}" alt="..." />
          </a>
          <!-- Product details-->
          <div class="card-body p-4">
            <a routerLink="/products/details/{{product.id}}">
              <div class="text-center">
                  <!-- Product name-->
                  <a routerLink="/products/details/{{product.id}}">
                    <h5 class="fw-bolder">{{product.name}}</h5>
                  </a>
                  <!-- Product reviews-->
                  <div class="d-flex justify-content-center small text-warning mb-2">
                      <div class="fa fa-star"></div>
                      <div class="fa fa-star"></div>
                      <div class="fa fa-star"></div>
                      <div class="fa fa-star"></div>
                      <div class="fa fa-star"></div>
                  </div>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through">{{product.unitPrice | currency: 'USD'}}</span>
                  {{product.unitPrice - (product.unitPrice * 0.2) | currency: 'USD'}}
              </div>
            </a>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
          </div>
      </div>
    </div>
    <!-- Display when products is not found. i.e. products = null/undefined/length = 0 -->
    <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
      No products found
    </div>
  </div>
  <div class="d-flex">
    <div  class="justify-content-center col-md-6">
      <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" (pageChange)="getNextPage()"/>
    </div>
    <!-- Page size selection -->
    <div class="justify-content-end col-md-6">
      <span>Page Size</span>
      <select #pageSelect (change)="updatePageSize(pageSelect.value)">
        <option selected="true">5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
      </select>
    </div>
  </div>
</div>
</div>
