<div class="container-fluid">
  <div *ngIf="cartItems.length == 0">
    <div class="alert alert-warning col-md-12" role="alert">
      <!-- Add button here to go to product listing page -->
      <!-- Or add bask image as background here  -->
      <p style="font-weight: bold;">Empty Cart, go for shopping</p>
    </div>
  </div>
  <table *ngIf="cartItems.length >= 1" class="table table-bordered">
    <thead>
      <tr>
        <th width="20%" scope="Prod Image">Image</th>
        <th width="50%" scope="Description">Description</th>
        <th width="30%" scope="Quantity"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems">
        <td>
          <img class="img-thumbnail" [width]="80" [height]="80" src={{item?.imageUrl}} alt="..." >
        </td>
        <td>
          <p class="lead">{{item?.sku}}</p>
          <p>{{item.unitPrice | currency:'£'}}</p>
        </td>
        <td>
          <p>{{item.quantity}}</p>
          <p>{{item.quantity * item.unitPrice}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td style="font-weight: bold;">
          <p>Quantity: {{totalQuantity}}</p>
          <p>Shipping: Free</p>
          <p>Total Price: {{total | currency: '£'}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
